<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  {{ partial "head.html" . }}
  {{ partial "head_custom.html" . }}
</head>


<body>
  {{ partial "header.html" . }}

  <main class="list flex-grow-1">
    <section id="impressum-section" class="container section list-{{ .Kind }}">

      <div class="impressum-content">
          <h1>{{ .Title }}</h1>
          <p>Dieses Impressum gilt für https://luosua.github.io/portfolio/ inklusive aller Subdomains (Unterseiten).</p>
        <p>Informationen über den Diensteanbieter.</p>
        <p><strong>Alona Liuzniak</strong></p>
        <p>August-Euler-Straße 5<br>60486 Frankfurt am Main<br>Deutschland</p>
        <p>
          <strong>Tel.:</strong> +491631644541<br>
          <strong>E-Mail:</strong> <a href="mailto:alona.liuzniak@gmail.com">alona.liuzniak@gmail.com</a>
        </p>

        <p><strong>Berufsbezeichnung:</strong> KI-Entwicklerin</p>

        <p>
          <strong>Datenschutz Verantwortlicher:</strong><br>
          Alona Liuzniak<br>
          August-Euler-Straße 5<br>
          60486 Frankfurt am Main<br>
          <strong>E-Mail:</strong> <a href="mailto:alona.liuzniak@gmail.com">alona.liuzniak@gmail.com</a><br>
          <strong>Tel.:</strong> +491631644541
        </p>

        <h5>Umsatzsteuer-Identifikationsnummer</h5>
        <p>DE452560571</p>

        <h5>Berufshaftpflichtversicherung</h5>
        <p>
          <strong>Name und Anschrift:</strong><br>
          Hiscox SA<br>
          Bernhard-Wicki-Straße 3<br>
          80636 München<br>
          <strong>Gilt weltweit</strong>
        </p>

        <h5>Universalschlichtungsstelle</h5>
        <p>
          An einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nehmen
          wir teil. Die zuständige Stelle ist die Universalschlichtungsstelle des Bundes,
          Zentrums für Schlichtung e.V., ansässig in der Straßburger Straße 8, 77694 Kehl
          am Rhein (<a href="https://www.verbraucher-schlichter.de/" target="_blank">https://www.verbraucher-schlichter.de</a>).
        </p>

        <h5>EU-Streitschlichtung</h5>
        <p>
          Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir
          Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.
Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der
Europäischen Kommission unter <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE</a> zu richten.
Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.

Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>

        <h5>Bildernachweis</h5>
        <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.</p>
        <p>
          <strong>Bilderrechte:</strong><br>
          Fotograf Sebastian Schüler<br>
          Varrentrappstr. 53<br>
          60486 Frankfurt am Main
        </p>

        <h5>Weitere Onlineauftritte</h5>
          <strong>Dieses Impressum gilt auch für:</strong><br>
          <p><a href="https://www.linkedin.com/in/alona-liuzniak/" target="_blank">
          https://www.linkedin.com/in/alona-liuzniak/</a></p>
          <h5>Verwendetes Website-Template</h5>
<p>Diese Website wurde unter Verwendung des Hugo-Templates „Adritian Free Hugo Theme“ erstellt. Das Template ist unter folgendem Repository verfügbar:
  <a href="https://github.com/zetxek/adritian-free-hugo-theme" target="_blank">
  https://github.com/zetxek/adritian-free-hugo-theme</a>. Das Template unterliegt den Bestimmungen der jeweiligen Lizenz, die im oben genannten Repository einsehbar ist.</p>

        <p>Alle Texte sind urheberrechtlich geschützt.</p>
        <p>Quelle: Erstellt mit dem <a href="https://www.adsimple.de/impressum-generator/" target="_blank">Impressum Generator</a> von AdSimple.</p>
      </div>
    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "base-foot.html" . }}
</body>

</html>
