<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  {{ partial "head.html" . }}
  {{ partial "head_custom.html" . }}
</head>


<body>
  {{ partial "header.html" . }}

  <main class="list flex-grow-1">
    <section id="impressum-section" class="container section list-{{ .Kind }}">

      <div class="impressum-content">
          <h1>{{ .Title }}</h1>
        <p>Gesetzliche Anbieterkennung:</p>
        <p>Alona Liuzniak<br>August-Euler-Straße 5<br>60486 Frankfurt am Main<br>Deutschland</p>
        <p>
          <strong>Telefon:</strong> +491631644541<br>
          <strong>E-Mail:</strong> <a href="mailto:contact@veritasregit.ai">contact@veritasregit.ai</a><br>
          <strong>WhatsApp:</strong> +491631644541<br>
        </p>

        <p><strong>Gesetzliche Berufsbezeichnung:</strong> KI-Entwicklerin (verliehen in Deutschland)</p>

        <h5>Umsatzsteuer-Identifikationsnummer</h5>
        <p>DE452560571</p>

        <h5>Berufshaftpflichtversicherung</h5>
        <p>
          <strong>Name und Anschrift:</strong><br>
          Hiscox SA<br>
          Bernhard-Wicki-Straße 3<br>
          80636 München<br>
          <strong>Gilt weltweit</strong>
        </p>

        <h5>Bildernachweis</h5>
        <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.</p>
        <p>
          <strong>Bilderrechte:</strong><br>
          Fotograf Sebastian Schüler<br>
          Varrentrappstr. 53<br>
          60486 Frankfurt am Main
        </p>
    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "base-foot.html" . }}
</body>

</html>
