{{/* Case Studies section - card grid dashboard */}}

{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="case-studies" class="section section--border-bottom">
  <div class="container">
    <h2 class="rad-animation-group rad-fade-down">
      {{ i18n "client_work_title" }}
    </h2>
    <div class="row rad-animation-group rad-fade-down justify-content-center">
      {{ $baseLangSite := .Sites.Default }}
      {{ $projects := (where .Site.RegularPages.ByDate.Reverse "Type" "projects" | lang.Merge (where $baseLangSite.RegularPages.ByDate.Reverse "Type" "projects")) }}
      {{ range $projects }}
      <div class="col-12 col-md-6 col-lg-4 mb-4 project-{{ .File.ContentBaseName }}">
        <a href="{{ .Permalink }}" class="case-study-card">
          {{ $img := resources.Get .Params.image.x }}
          {{ with $img }}
          <div class="case-study-card__image">
            {{ $imgWebp := .Resize (printf "%dx%d webp q75 Lanczos picture" .Width .Height) }}
            <picture>
              <source srcset="{{ $imgWebp.RelPermalink }}" type="image/webp" />
              <img
                src="{{ .RelPermalink }}"
                alt="{{ $.Params.title }}"
                class="img-fluid"
              />
            </picture>
          </div>
          {{ end }}
          <div class="case-study-card__body">
            <h3 class="case-study-card__title">{{ .Params.title }}</h3>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
