{{ if .Site.Data.homepage.testimonial.enable }}
<section id="testimonial" class="section rad-animation-group">
    <div class="container">
        <h2 class="rad-fade-down">{{ i18n "testimonials_title" }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">

            {{ $baseLangSite := .Sites.Default }}
            {{ $testimonials := (where .Site.RegularPages.ByDate "Type" "testimonial") }}
            {{ $testimonials = $testimonials | lang.Merge (where $baseLangSite.RegularPages.ByDate "Type" "testimonial") }}
            {{ range $testimonials }}

            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial container">
                <i class="icon-quote-left"></i>
                <p>
                    {{ .Content }}
                </p>
                <div class="testimonial__author row gx-0">

                         <div class="testimonial__author-info col-10">
                        <h3>{{ .Params.name }}</h3>
                        <span>{{ .Params.position }}</span>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
